.head{
   /* margin: 0 auto; */
   width: 25%;
   /* text-align: center; 
   border: 2px solid black;
   margin-top: 5%;
   padding:34px; */
   background-color: aqua;
  } 
  h1{
     text-align: justify;
     background-color: aqua;
  }
  ,div{
    background-color: aqua;
  }
  h3{
   color: blue;
   height: inherit;
  }
  h4{
     background-color: aquamarine;
  }
  .head h5{
   text-align: justify;
   justify-content: center;
  }
  .head h5 a{
  text-decoration: none;
  }
  .head h5 a:hover{
   color: red;
   transition: 1.5s;
  }
   .em a{
  text-decoration: none;
  border: 1px solid black;
  padding: 6px;
  background-color: blue;
  color: white;
  font-size: 11px;
  }
  .em a:hover{
   color: red;
   transition: 1s;
  }